th, tfoot {
	color: black;
	border: solid black 2px;
	text-align: center;
}

td {
	color: black;
	border: solid black 1px;
	text-align: left;
	padding: 5px;
}

.buttonCell {
	text-align: center;
}

table {
	table-layout: fixed;
	width: 800px;
	border-collapse: collapse;
	border: 2px solid black;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#monthlyCost {
	background-color: green;
}

header{
	background-color: grey;
	text-align: center;
}

body {
	max-width: 800px;
	margin: auto;
}

form > button {
	float: right;
}

.inputForm {
	width: 16%;
}
